
.nav-container {
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(251, 251, 245);
}

.logo {
    height: 10vh;
    width: 20vw;
    /* background-image: url(./pig.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%; */
}

.login{
    width: 30vw;
    height: 10vh;
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    justify-content: center;
}

.login button {
    padding: 3% 10%;
    border: 1px solid black;
    
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(35, 35, 35);
    background-color: transparent;
    cursor: pointer;
}

.login button:hover {}