/* .location-container {
  position: relative;
}

.add-officer-page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  z-index: 999;
  padding: 20px;
} */

