.location-container{
    min-height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.location-overall{
    height: 60vh;
    width: 45vw;
    border-radius: 20px;
    background-color: rgba(232, 232, 232, 0.586);
    border: 1px solid rgb(172, 172, 172);
    box-shadow: 5px 10px 10px rgb(64, 64, 64);
}


.location-name-container {
    width: 45vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-name-container h2 {
    font-size: 6vh;
    text-align: center;
    margin-top: 1%;
}

.location-info {
    width: 45vw;
    height: 40vh;
}
.location-rating{
    display: flex;
    width: 45vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.score{
    font-size: 6vh;
    margin-right: 1vw;
}

.total{
    font-size: 3.5vh;
    letter-spacing: 5px;
    color: rgb(88, 87, 87);
}

.based-on {
    height: 10vh;
    width: 45vw;
    display: flex;
    align-items: center;
justify-content: center;
font-size: 3vh
}

.location-icon-container{
    width: 45vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.location-icon{
    height: 17vh;
    width: 13vw;
    /* border: 1px solid purple; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}

.location-icon img{
    height: 17vh;
    width: 13vw;
}

.location-btn-container {
    height: 10vh;
    width: 45vw;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}

.add-officer,
.view-officer {
    width: 17vw;
    height: 6vh;
    border: none;
    color: white;
    font-size: 2vh;
    box-shadow: 4px 4px 10px rgb(107, 107, 107);
}

.add-officer {
    background-color: transparent;
    border: 1px solid rgb(22, 52, 101);
    color: rgb(22, 52, 101);
}

.view-officer {
    background-color: transparent;
    border: 1px solid rgb(183, 11, 11);
    color: rgb(183, 11, 11);
    
}

.add-officer:hover {
    background-color: transparent;
    border: 1px solid rgb(183, 11, 11);
    color: rgb(183, 11, 11);
    background-color: rgba(233, 233, 233, 0.408);
}

.view-officer:hover{
     background-color: transparent;
    border: 1px solid rgb(22, 52, 101);
    color: rgb(22, 52, 101);
     background-color: rgba(233, 233, 233, 0.408);
}

.add-officer:active {
      background-color: transparent;
    border: 1px solid rgb(120, 6, 6);
    color: rgb(120, 6, 6);
    background-color: rgba(233, 233, 233, 0.408);
    box-shadow:1px 1px 20px rgb(80, 154, 162);
}

.view-officer:active{
     background-color: transparent;
    border: 1px solid rgb(10, 25, 50);
    color: rgb(10, 25, 50);
     background-color: rgba(233, 233, 233, 0.408);
     box-shadow:1px 1px 20px rgb(162, 80, 80);
}

.get-feedback-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.get-feedback {
    width: 70vw;
    height: 20vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin: 1% 0;
    /* flex-direction: column; */
    box-shadow: 4px 4px 10px rgb(107, 107, 107);
}

.feedback-user {
    width: 15vw;
    height: 20vh;
    /* border: 1px solid purple; */
    
    background-color: rgb(225, 225, 225);
    color: black;
}

.feedback-review{
    width: 55vw;
    height: 20vh;
    /* border: 1px solid green; */
     background-color: rgba(225, 225, 225, 0.35);
    /* margin-left: 1%; */
    padding: 2%;
    font-size: 2.1vh;
}

.add-officer-backdrop{
    background-color: rgba(0, 0, 0, 0.548);
    width: 100vw;
    height: 100vh;
      position: fixed;
  top: 50%;
  left: 50%;
   transform: translate(-50%, -50%);
}

.add-officer-page {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 3;
  /* padding: 20px; */
  width:45vw;
  height: 70vh;
 
}

.add-officer-header{
    width: 45vw;
    display: flex;
    justify-content: flex-end;
}

.add-officer-header button{
    background-color: transparent;
    border: none;
    margin: 1%;
}

.officer-feedback-name{
    font-size: 2vw;
    color: black;
    width: 15vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.feedback-stars{
    height: 10vh;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    color: rgb(75, 75, 75);
    /* border: 1px solid blue; */
}
.feedback-stars p{
    border-top: 1px solid rgb(75, 75, 75);
    height: 10vh;
    text-align: center;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

#rating{
    font-size: 3vw;
   color: black;
   letter-spacing: 3px;
}