.officer-container{
    height: 80vh;
    width: 100vw;
    border: 1px solid red;
}

.officer-rating {
    width: 100vw;
    height: 50vh;
    border: 1px solid purple;
    display: flex;
    justify-content: center;
}

.officer-stats-container {
    height: 50vh;
    width: 35vw;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.officer-stats{
    height: 45vh;
    width: 35vw;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.officer-name {
    width: 35vw;
    font-size: 3vw;
}

.officer-ratings{
    width: 35vw;
    font-size: 3.5vw;
    height: 7vh;
    border: 1px solid brown;
}

.review {
    height: 30vh;
    width: 35vw;
    border: 1px solid pink;
}



.graph-container{
    height: 65vh;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
}

.graph-body{
height: 62vh;
width: 38vw;
border: 1px solid green;
display: flex;
flex-direction: column;
align-items: center;
/* justify-content: center; */
}
.input-container{
    width: 38vw;
    margin: 1%;
    display: flex;
    justify-content: center;
}
.input-container input{
    width: 35vw;
}
textarea#review-input {
  width: 35vw;
 height: 20vh;
  border: none;
    border-bottom: 1px solid black;
    padding-left: 2%;
}

.btn-container {
    width: 38vw;
    display: flex;
    justify-content: center;
}

#officer-name-input,
#department-name-input{
    height: 6vh;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 2%;
}

#enter-feedback {
    height: 10vh;
    font-size: 2vw;
    width: 38vw;
    border: 1px solid red;
}

#of-name{
    margin-top: 5%;
}

.submit-btn{
    width: 20vw;
}