.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .card {
    margin: 10px;
  }

  .icon-size {
    margin: 20px;
    height: 150px;
    width: 150px;
  }
  .icon-size2 {
    margin:20px;
    height: 150px;
    width: 250px;
  }

  .about-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
  }

  .icon-text {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-header {
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-style: oblique;
  }
