.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 24, 24, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  
}

.login-modal {
  background-color: rgb(255, 255, 255);
  height: 80vh;
  width: 40vw;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
  backdrop-filter: blur(5px);
}


.login-text{
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.3vw;
  letter-spacing: 1.5px;
  color: rgb(10, 10, 25);
  display: flex;
  flex-direction: column;
}

.line{
  height: 1px;
  width: 14vw;
  border-top: 1px solid black;
  margin: 0 auto;
}


#login-form {
   height: 60vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
 justify-content: center;
  align-items: center;
 }

#username,
#password,
#submit {
  height: 7vh;
  width: 30vw;
  /* box-shadow: 1px 3px 3px rgb(107, 107, 107); */
  margin: 0 0 2vh 0;
}

#username,
#password{
border: 1px solid  rgb(39, 68, 125);
border-radius: 50px;
padding-left: 4%;
background-color: transparent;

}

#submit {
  border: none;
  background-color: rgb(251, 85, 85);
  color: white;
  border-radius: 50px;
}

.login-bottom{
  width: 40vw;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  font-size: 1.3vw;
  line-height: 1.9;
  
}
